<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <markdown ngPreserveWhitespaces>
        ### การประกันวินาศภัยคืออะไร


        การประกันวินาศภัย คือ การประกันภัยทุกประเภทที่นอกเหนือจาก การประกันชีวิต โดยผู้รับประกันภัยตกลงจะชดใช้ค่าสินไหมทดแทน ให้ผู้เอาประกันภัยหากทรัพย์สินที่ทําประกันภัยเอาไว้เกิดความสูญเสีย หรือ เสียหายจากภัยต่างๆ ซึ่งความเสียหายนั้นสามารถประเมินค่าเป็นตัวเงินได้


        #### การประกันวินาศภัยแบ่งออกเป็น 4 ประเภท ได้แก่
        1. การประกันอัคคีภัย
        2. การประกันภัยรถยนต์
        3. การประกันภัยทางทะเลและขนส่ง
        4. การประกันภัยเบ็ดเตล็ด

      </markdown>
    </div>
  </div>
</div>
