<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/">
        NL-INSU
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="onChangeLang('EN')" class="nav-link" style="cursor: pointer;">EN</a>
        </li>
        <li class="nav-item">
          <a (click)="onChangeLang('TH')" class="nav-link" style="cursor: pointer;">TH</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header header-filter clear-filter purple-filter" data-parallax="true"
     style="background-image: url('/assets/office-1209640_1280.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1 style="text-align: center;">ห้องสมุดประกันวินาศภัย</h1>
          <h3 style="text-align: center;">อยากรู้เกี่ยวกับประกันสามารถเรียนรู้ได้ที่นี่</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
