/* You can add global styles to this file, and also import other style files */
.card-footer.card-read-continue-link {
  display: flex;
  flex-direction: row-reverse;
}

.footer.content-right {
  display: flex;
  flex-direction: row-reverse;
}

.main.main-raised.with-margin-bottom {
  margin-bottom: 50px;
}

.title {
  font-size: 1.5625rem;
  line-height: 1.4em;
}

markdown h1 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}

markdown h2 {
  font-size: 1.125rem;
  line-height: 1.5em;
}

markdown li strong {
  font-weight: 600;
}

@media (min-width: 992px) {
  .col-lg-margin-1 {
    margin-left: 8.333333%;
  }
}

markdown b, markdown strong {
  font-weight: bold;
}
