<div class="main main-raised with-margin-bottom" style="background-color: #fcfcfc;">
  <div class="section section-basic">
    <div class="container">
      <div class="title">
        <h2>{{calculateText}}</h2>
      </div>
    </div>
    <div class="row" style="margin-left: 30px; margin-right: 35px;">
      <div *ngFor="let calculate of showCalculateList; let i = index" class="col-lg-4 card col-lg-margin-1"
           style="padding-left: 0;">
        <a routerLink="/calculate/{{calculate.id}}" style="height: 100%; color: black;">
          <div style="width:100%; display: flex; height: inherit;">

            <div style="min-width: 80px; text-align: center;"
                 [ngClass]="{
                    'box-rainbow-red': (i%8)===0,
                    'box-rainbow-orange': (i%8)===1,
                    'box-rainbow-yellow': (i%8)===2,
                    'box-rainbow-green': (i%8)===3,
                    'box-rainbow-indigo': (i%8)===4,
                    'box-rainbow-sky': (i%8)===5,
                    'box-rainbow-blue': (i%8)===6,
                    'box-rainbow-violet': (i%8)===7
                 }"
            >
              <h1>00</h1>
            </div>
            <div style="margin-left: 20px;">
              <h5 style="color: #eb822d;">{{calculate.name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
