.box-rainbow-red {
  background-color: #e6261f;
  color: #e6261f;
}
.box-rainbow-orange {
  background-color: #eb7532;
  color: #eb7532;
}
.box-rainbow-yellow {
  background-color: #f7d038;
  color: #f7d038;
}
.box-rainbow-green {
  background-color: #a3e048;
  color: #a3e048;
}
.box-rainbow-indigo {
  background-color: #49da9a;
  color: #49da9a;
}
.box-rainbow-sky {
  background-color: #34bbe6;
  color: #34bbe6;
}
.box-rainbow-blue {
  background-color: #4355db;
  color: #4355db;
}
.box-rainbow-violet {
  background-color: #d23be7;
  color: #d23be7;
}
